In [1]:
#Load the dataset
import pandas as pd

df = pd.read_excel(r'C:\Users\George\Desktop\ds_projects\project_ds_salaries\ds_salaries.xlsx')

In [2]:
#What is the size of the dataset
df.shape

(607, 11)

In [ ]:
df.head(10)

In [ ]:
#We see that company locations are in 2 letters format so we want to get the whole country name for later use
country_codes = pd.read_excel(r'C:\Users\George\Desktop\ds_projects\project_ds_salaries\country_codes.xlsx')

In [ ]:
new_df = pd.merge(df, country_codes[['country', 'country_code_2']], how='left', left_on='company_location', right_on='country_code_2')

In [ ]:
#After the merge we have 13 columns
new_df.shape

In [ ]:
#Let's visualise again
new_df.head(10)

In [ ]:
#We have no use for the country_code_2 column
new_df.drop(['country_code_2'], inplace=True, axis=1)

In [ ]:
#Let's see all the available currencies in our dataset
new_df['salary_currency'].unique()

In [ ]:
#As of 06/26/2022
def salary_to_usd(x, y):
    if x == 'CAD':
        return y * 0.78
    elif x == 'CNY':
        return y * 0.15
    elif x == 'EUR':
        return y * 1.06       
    elif x == 'GBP':
        return y * 1.23
    elif x == 'HUF':
        return y * 0.0026
    elif x == 'INR':
        return y * 0.013
    elif x == 'JPY':
        return y * 0.0074
    elif x == 'MXN':
        return y * 0.05
    elif x == 'DKK':
        return y * 0.14
    elif x == 'PLN':
        return y * 0.23
    elif x == 'SGD':
        return y * 0.72
    elif x == 'CLP':
        return y * 0.0011
    elif x == 'BRL':
        return y * 0.19
    elif x == 'TRY':
        return y * 0.059
    elif x == 'AUD':
        return y * 0.69
    elif x == 'CHF':
        return y * 1.04
    elif x =='USD':
        return y

In [ ]:
#We get the count of occurences for the countries in our dataset
occurences = new_df['country'].value_counts()

In [ ]:
#We want to have an "accurate" picture of the salaries per country so we exclude countries that have an occurence less than 10
countries = occurences[occurences > 10]

In [ ]:
df_bck = df.copy()

In [ ]:
#We remove rows that refer to countries that appear less than 10 times
df = new_df.loc[new_df['country'].isin(list(countries.index))]

In [ ]:
#Let's see after the above pre-processing how many rows are left in our data. We drop 83 (607 - 524) rows.
df.shape

In [ ]:
# We want to see the average salary in USD per country
df[['country', 'salary_in_usd']].groupby(['country']).agg('mean').sort_values(by=['salary_in_usd'], ascending=False)

In [ ]:
#As well as how many salaries per country we have available in our dataset
df[['country', 'salary_in_usd']].groupby(['country']).agg('count').sort_values(by=['salary_in_usd'], ascending=False)

In [ ]:
#We want to take it a step further and compare the salaries per country in our data with the GDP per capita for each of the countries

#Datase from https://worldpopulationreview.com/country-rankings/median-income-by-country
import swifter
average_wage = pd.read_csv(r'C:\Users\George\Desktop\ds_projects\project_ds_salaries\yearly_income_per_country.csv')

In [ ]:
average_wage.head(10)

In [ ]:
mean_salaries_per_country_in_dataset = df[['country', 'salary_in_usd']].groupby(['country']).agg('mean').sort_values(by=['salary_in_usd'], ascending=False)

In [ ]:
mean_salaries_per_country_in_dataset.reset_index(inplace=True)

In [ ]:
#We replace the country name for US so that when we merge with average_wage dataframe we can bring data
mean_salaries_per_country_in_dataset['country'] = mean_salaries_per_country_in_dataset['country'].replace(['United States of America (the)'], 'United States')

In [ ]:
#Fix the name for United Kingdom as well
mean_salaries_per_country_in_dataset['country'] = mean_salaries_per_country_in_dataset['country'].replace(['United Kingdom of Great Britain and Northern Ireland (the)'], 'United Kingdom')

In [ ]:
mean_salaries_per_country_in_dataset

In [ ]:
mean_ds_salaries_vs_mean_salaries_overall = pd.merge(mean_salaries_per_country_in_dataset, average_wage, how='left', on='country')

In [ ]:
mean_ds_salaries_vs_mean_salaries_overall

In [ ]:
#We create a column that is the difference between salaries in our dataset and GDP per capita
mean_ds_salaries_vs_mean_salaries_overall['difference'] = mean_ds_salaries_vs_mean_salaries_overall['salary_in_usd'] - mean_ds_salaries_vs_mean_salaries_overall['gdpPerCapitaPPP']

In [ ]:
#Finally we print the dataframe sorted by the column we created that shows us in which country data scientists are getting paid better relative to their peers
mean_ds_salaries_vs_mean_salaries_overall[['country', 'salary_in_usd', 'gdpPerCapitaPPP', 'difference']].sort_values(by=['difference'], ascending=False)

In [ ]:
#Seems that in US data scientists are getting better. However, we should also think of outliers that their existence could have skewed our data

In [ ]:
#What is the min salary in USD per country ?
df[['country', 'salary_in_usd']].groupby(['country']).agg('min').sort_values(by=['salary_in_usd'], ascending=False)

In [ ]:
#What is the maximum salary in USD per country ?
df[['country', 'salary_in_usd']].groupby(['country']).agg('max').sort_values(by=['salary_in_usd'], ascending=False)

In [ ]:
#We observe that the difference between the min and max salary in US particularly is too big. So further analysis is required

In [ ]:
#Let's create the scatter plots of salaries in USD per country that will give us a clearer picture for outliers
from matplotlib import pyplot as plt

fig, axs = plt.subplots(3, 3, figsize=(20,30))

countries = list(df['country'].unique())

j = 0
k = 0
for i in range(len(countries)):
    if i % 3 == 0 and i != 0:        
        k += 1
        j = 0    
    x = [i for i in range(df.loc[df['country']==countries[i]].shape[0])]
    y = list(df.loc[df['country']==countries[i], 'salary_in_usd'])    
    axs[k, j].scatter(x, y)
    title = 'Available Salaries in USD'
    axs[k, j].set_title(title)
    axs[k, j].set_xlabel(countries[i])
    j += 1
    
for ax in axs.flat:
    ax.set(ylabel='Salaries')

In [ ]:
#Indeed we observe that for most countries there exist some outliers. In US most salaries are concentrated in the range (50K - 200K) but there exist a salary of 600K

In [ ]:
#Let's continue the visual exploration of our dataset, since it will help us understand better our data.

In [ ]:
del df

df = df_bck.copy() #Our initial data

In [ ]:
#Let's first plot the salaries in USD that exist in our data per year. We see an uplift of the median salary per year, probably following inflation.
fig, axs = plt.subplots(figsize=(10,10))

work_year = list(df['work_year'].unique())

data = []
for i in range(len(work_year)):
    data.append(df.loc[df['work_year']==work_year[i], 'salary_in_usd'])

axs.boxplot(data)
axs.set_title('Salaries in USD per work_year')
axs.set_ylabel('Salary')
plt.xticks([1, 2, 3], ['2020', '2021', '2022'])
plt.show()

In [ ]:
#However there is an important consideration when it comes to plotting vs each other. We need to have around the same amount of data per category so that our comparisons are fair

In [ ]:
#Let's see how much data we have per work year. We see that for 2022 we have a lot more data
fig, axs = plt.subplots(figsize=(10,10))

work_year = list(df['work_year'].unique())

data = []
for i in range(len(work_year)):               
    data.append(df.loc[df['work_year']==work_year[i]].shape[0])

axs.bar(work_year,data)
axs.set_title('Number of employees per work_year')
axs.set_ylabel('Employees')
plt.show()

In [ ]:
#Let's plot the salaries in USD per experience level. As expected we see an increase in the median salary as experience level progresses
fig, axs = plt.subplots(figsize=(10,10))

experience_level = ['EN', 'MI', 'SE', 'EX']

data = []
for i in range(len(experience_level)):    
    data.append(df.loc[df['experience_level']==experience_level[i], 'salary_in_usd'])

axs.boxplot(data)
axs.set_title('Salaries in USD per experience_level')
axs.set_ylabel('Salary')
plt.xticks([1, 2, 3, 4], ['EN', 'MI', 'SE', 'EX'])
plt.show()

In [ ]:
#Let's see how much data we have per experience level. We see that for entry level and executive experience level we have considerably less data
fig, axs = plt.subplots(figsize=(10,10))

experience_level = list(df['experience_level'].unique())

data = []
for i in range(len(experience_level)):               
    data.append(df.loc[df['experience_level']==experience_level[i]].shape[0])

axs.bar(experience_level,data)
axs.set_title('Number of employees per experience_level')
axs.set_ylabel('Employees')
plt.show()

In [ ]:
#Let's plot salaries in USD per employment type. We see that for Contract agreements the range fluctuates much more than for the rest employment types
fig, axs = plt.subplots(figsize=(10,10))

employment_type = list(df['employment_type'].unique())

data = []
for i in range(len(employment_type)):       
    data.append(df.loc[df['employment_type']==employment_type[i], 'salary_in_usd'])

axs.boxplot(data)
axs.set_title('Salaries in USD per employment_type')
axs.set_ylabel('Salary')
plt.xticks([1, 2, 3, 4], ['FT', 'CT', 'PT', 'FL'])
plt.show()

In [ ]:
#Let's see how much data we have per employment type. As expected for full time working we have a lot more
fig, axs = plt.subplots(figsize=(10,10))

employment_type = list(df['employment_type'].unique())

data = []
for i in range(len(employment_type)):               
    data.append(df.loc[df['employment_type']==employment_type[i]].shape[0])

axs.bar(employment_type,data)
axs.set_title('Number of employees per employment_type')
axs.set_ylabel('Employees')
plt.show()

In [ ]:
#Let us also plot salaries in USD vs ratio of remote working. Seems that hybrid working employers are paid less compared to their colleagues
fig, axs = plt.subplots(figsize=(10,10))

remote_ratio = list(df['remote_ratio'].unique())

data = []
for i in range(len(remote_ratio)):           
    data.append(df.loc[df['remote_ratio']==remote_ratio[i], 'salary_in_usd'])

axs.boxplot(data)
axs.set_title('Salaries in USD per remote_ratio')
axs.set_ylabel('Salary')
plt.xticks([1, 2, 3], ['0', '50', '100'])
plt.show()

In [ ]:
#Lets see how much data we have per remote working option
fig, axs = plt.subplots(figsize=(10,10))

remote_ratio = list(df['remote_ratio'].unique())

data = []
for i in range(len(remote_ratio)):               
    data.append(df.loc[df['remote_ratio']==remote_ratio[i]].shape[0])

axs.bar(remote_ratio,data)
axs.set_title('Number of employees per remote_ratio')
axs.set_ylabel('Employees')
plt.show()

In [ ]:
#Finally let us plot the salary in USD vs the company size. Medium sized companies seem to be paying less
fig, axs = plt.subplots(figsize=(10,10))

company_size = list(df['company_size'].unique())

data = []
for i in range(len(company_size)):               
    data.append(df.loc[df['company_size']==company_size[i], 'salary_in_usd'])

axs.boxplot(data)
axs.set_title('Salaries in USD per company_size')
axs.set_ylabel('Salary')
plt.xticks([1, 2, 3], ['L', 'M', 'S'])
plt.show()

In [ ]:
#Lets see how much data we have per company size. Most people in our dataset work for medium sized companies
fig, axs = plt.subplots(figsize=(10,10))

company_size = list(df['company_size'].unique())

data = []
for i in range(len(company_size)):               
    data.append(df.loc[df['company_size']==company_size[i]].shape[0])

axs.bar(company_size,data)
axs.set_title('Number of employees per company_size')
axs.set_ylabel('Employees')
plt.show()

In [ ]:
#Lets see how much data we have per company location. Most of the companies are based in the US
fig, axs = plt.subplots(figsize=(10,20))

company_location = list(df['company_location'].unique())

data = []
for i in range(len(company_location)):               
    data.append(df.loc[df['company_location']==company_location[i]].shape[0])

axs.barh(company_location,data)
axs.set_title('Number of employees per company_location')
axs.set_ylabel('Employees')
plt.show()

In [ ]:
#Lets see how much data we have for employee residences. Most of our employees live in US
fig, axs = plt.subplots(figsize=(10,20))

employee_residence = list(df['employee_residence'].unique())

data = []
for i in range(len(employee_residence)):               
    data.append(df.loc[df['employee_residence']==employee_residence[i]].shape[0])

axs.barh(employee_residence,data)
axs.set_title('Number of employees per employee_residence')
axs.set_ylabel('Employees')
plt.show()

In [ ]:
#Finally lets see which job roles are most represented in our data. We see that data scientists followed by data engineer are the two most common job titles
fig, axs = plt.subplots(figsize=(10,30))

job_title = list(df['job_title'].unique())

data = []
for i in range(len(job_title)):               
    data.append(df.loc[df['job_title']==job_title[i]].shape[0])

axs.barh(job_title,data)
axs.set_title('Number of employees per job_title')
axs.set_ylabel('Employees')
plt.show()

In [ ]:
#We would like to build a model that is able to predict the salary that an employer will receive. Howeve we are limited by the amount of available data. Therefore, we are going to generate some data to aid us. We are going to use the CTGAN Model as it was proposed by Lei Xu, Maria Skoularidou, Alfredo Cuesta-Infante, Kalyan Veeramachaneni in their paper titled "Modeling Tabular data using Conditional GAN" that was accepted at NeurIPS, 2019.

In [3]:
df.drop(['salary', 'salary_currency'], inplace=True, axis=1) #We are removing these column since we have no use of them

In [4]:
df['remote_ratio'] = df['remote_ratio'].apply(str)

In [5]:
df['work_year'] = df['work_year'].apply(str)

In [ ]:
from scipy import stats
spearman_cors = {}

cols = list(df.columns)
cols.remove('salary_in_usd')
for i in range(len(cols)-1):
    for j in range(i+1, len(cols)): 
        spearman_cors[cols[i] + "__" + cols[j]] = stats.spearmanr(df[cols[i]], df[cols[j]])[0]

In [ ]:
spearman_cors_df = pd.DataFrame(spearman_cors.items(), columns=['Pair', 'Spearman_Correlation'])

In [ ]:
print('Min correlation pair')
spearman_cors_df.loc[spearman_cors_df['Spearman_Correlation']==spearman_cors_df['Spearman_Correlation'].min(), ['Pair', 'Spearman_Correlation']]

In [ ]:
print('Max correlation pair')
spearman_cors_df.loc[spearman_cors_df['Spearman_Correlation']==spearman_cors_df['Spearman_Correlation'].max(), ['Pair', 'Spearman_Correlation']]

In [ ]:
spearman_cors_df.sort_values(by=['Spearman_Correlation'], ascending=False)

In [ ]:
from scipy import stats
spearman_cors = {}

cols = list(df.columns)
cols.remove('salary_in_usd')
for i in range(len(cols)):
    spearman_cors[cols[i] + "__salary_in_usd"] = stats.spearmanr(df[cols[i]], df['salary_in_usd'])[0]

In [ ]:
spearman_cors_df = pd.DataFrame(spearman_cors.items(), columns=['Pair', 'Spearman_Correlation'])

In [ ]:
print('Min correlation pair')
spearman_cors_df.loc[spearman_cors_df['Spearman_Correlation']==spearman_cors_df['Spearman_Correlation'].min(), ['Pair', 'Spearman_Correlation']]

In [ ]:
print('Max correlation pair')
spearman_cors_df.loc[spearman_cors_df['Spearman_Correlation']==spearman_cors_df['Spearman_Correlation'].max(), ['Pair', 'Spearman_Correlation']]

In [ ]:
spearman_cors_df.sort_values(by=['Spearman_Correlation'], ascending=False)

In [6]:
df.drop(['company_location'], inplace=True, axis=1) #We are removing these column as they provoke high collinearity

In [7]:
high_outliers = list(df['salary_in_usd'].sort_values(ascending=False).index)[:10]

In [8]:
df['salary_in_usd'].iloc[high_outliers]

252    600000
97     450000
33     450000
157    423000
225    416000
63     412000
523    405000
519    380000
25     325000
482    324000
Name: salary_in_usd, dtype: int64

In [9]:
low_outliers = list(df['salary_in_usd'].sort_values(ascending=False).index)[-12:]

In [10]:
df['salary_in_usd'].iloc[low_outliers]

127    9466
196    9272
15     8000
21     6072
50     6072
213    5882
18     5707
179    5679
77     5409
238    4000
185    4000
176    2859
Name: salary_in_usd, dtype: int64

In [11]:
to_keep = [ind for ind in list(df.index) if ind not in high_outliers and ind not in low_outliers]

In [ ]:
df = df.iloc[to_keep]

In [12]:
df.dtypes

work_year             object
experience_level      object
employment_type       object
job_title             object
salary_in_usd          int64
employee_residence    object
remote_ratio          object
company_size          object
dtype: object

In [ ]:
df.shape

In [13]:
from sdv.tabular import CTGAN

In [14]:
model = CTGAN()

In [15]:
model.fit(df)

C:\Users\George\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1332: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=3.
  warnings.warn(
C:\Users\George\anaconda3\lib\site-packages\sklearn\mixture\_base.py:286: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\George\AppData\Roaming\Python\Python39\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

In [16]:
new_data = model.sample(num_rows=30000)

In [17]:
#Let's run some validation on the newly created dataset so that we can ensure everything is as expected

print('Maximum salary in synthetic data', new_data['salary_in_usd'].max())
print('Maximum salary in initial data', df['salary_in_usd'].max(), '\n')

print('Minimum salary in synthetic data', new_data['salary_in_usd'].min())
print('Minimum salary in initial data', df['salary_in_usd'].min())

Maximum salary in synthetic data 600000
Maximum salary in initial data 600000

Minimum salary in synthetic data 2859
Minimum salary in initial data 2859

In [18]:
#We are going to check also if there are unexpected values in any of the other columns
cols = list(new_data.columns)
cols.remove('salary_in_usd')
for col in cols:
    if set(list(df[col].unique())) != set(list(new_data[col].unique())):
        print(col, ' column differs')

In [19]:
new_data.drop_duplicates(inplace=True)

In [ ]:
#Nice there are no surpises!

In [ ]:
#Lets evaluate now the quality of our generated data.

In [ ]:
#We firstly use a likelihood metric that fits a model on our initial data and then computes the likelihood that the generated data have come from the same distribution

from sdv.metrics.tabular import BNLikelihood, BNLogLikelihood, GMLogLikelihood

raw_score = GMLogLikelihood.compute(df.fillna(0), new_data.fillna(0))
GMLogLikelihood.normalize(raw_score)

In [ ]:
#For reference if we use the same dataset and pass it to the evalaution method we get back a 0.02 value
raw_score = GMLogLikelihood.compute(new_data.fillna(0), new_data.fillna(0))
GMLogLikelihood.normalize(raw_score)

In [ ]:
#We can also use a dtetection metric that fits a model to distinguish whether a row has come from the synthetic data or the initial data

from sdv.metrics.tabular import SVCDetection

SVCDetection.compute(df, new_data)

In [ ]:
#From the above evaluation we can see that although not perfect the quality of the data is at least acceptable and for lack of better alternative we are going to use them to fit a ML model to predict salaries

In [20]:
#We are going to use only the newly created data for training and we are going to use the real data to assess our model's performance
training_data = new_data.copy()

In [ ]:
training_data = pd.concat([new_data, df])

In [ ]:
training_data.shape

In [21]:
X = training_data.copy()
y = X['salary_in_usd']
X.drop(['salary_in_usd'], axis=1, inplace=True)

In [ ]:
from sklearn.model_selection import train_test_split

X, X_test, y, y_test = train_test_split(X, y, test_size=0.3, random_state=24)

In [22]:
X.isnull().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
employee_residence    0
remote_ratio          0
company_size          0
dtype: int64

In [23]:
X.shape

(28993, 7)

In [24]:
X_test = df.copy()
y_test = X_test['salary_in_usd']
X_test.drop(['salary_in_usd'], axis=1, inplace=True)

In [25]:
X_test.shape

(607, 7)

In [26]:
#All of our features are categorical hence pre-processing is needed before we can pass them over to a regression model. For ordinal features we are going to use label encoding, for nominal features with low cardinality we use one-hot encoding and finally for high cardinallity nominal features we use binary encoding
import category_encoders as ce

experience_level_encoder = ce.OrdinalEncoder(cols=['experience_level'],return_df=True, mapping=[{'col':'experience_level', 'mapping':{'SE':0,'MI':1,'EN':2,'EX':3}}])
X['experience_level_encoded'] = experience_level_encoder.fit_transform(X['experience_level'])
X_test['experience_level_encoded'] = experience_level_encoder.transform(X_test['experience_level'])

In [ ]:
X['experience_level_encoded'].value_counts()

In [ ]:
X['experience_level'].value_counts()

In [27]:
remote_ratio_encoder = ce.OrdinalEncoder(cols=['remote_ratio'],return_df=True, mapping=[{'col':'remote_ratio', 'mapping':{'0':0,'50':1,'100':2}}])
X['remote_ratio_encoded'] = remote_ratio_encoder.fit_transform(X['remote_ratio'])
X_test['remote_ratio_encoded'] = remote_ratio_encoder.transform(X_test['remote_ratio'])

In [ ]:
X['remote_ratio_encoded'].value_counts()

In [ ]:
new_data['remote_ratio'].value_counts()

In [28]:
company_size_encoder = ce.OrdinalEncoder(cols=['company_size'],return_df=True, mapping=[{'col':'company_size', 'mapping':{'S':0,'M':1,'L':2}}])
X['company_size_encoded'] = company_size_encoder.fit_transform(X['company_size'])
X_test['company_size_encoded'] = company_size_encoder.transform(X_test['company_size'])

In [ ]:
X['company_size_encoded'].value_counts()

In [ ]:
X['company_size'].value_counts()

In [29]:
work_year_encoder = ce.OneHotEncoder(cols='work_year', handle_unknown='return_nan', return_df=True, use_cat_names=True)
work_year_encoded = work_year_encoder.fit_transform(X['work_year'])
work_year_encoded_test = work_year_encoder.transform(X_test['work_year'])

In [30]:
employment_type_encoder = ce.OneHotEncoder(cols='employment_type', handle_unknown='return_nan', return_df=True, use_cat_names=True)
employment_type_encoded = employment_type_encoder.fit_transform(X['employment_type'])
employment_type_encoded_test = employment_type_encoder.transform(X_test['employment_type'])

In [ ]:
employment_type_encoded.shape

In [31]:
job_title_encoder= ce.BinaryEncoder(cols=['job_title'],return_df=True)
job_title_encoded = job_title_encoder.fit_transform(X['job_title']) 
job_title_encoded_test = job_title_encoder.transform(X_test['job_title'])

In [ ]:
job_title_encoded.shape

In [32]:
employee_residence_encoder= ce.BinaryEncoder(cols=['employee_residence'],return_df=True)
employee_residence_encoded = employee_residence_encoder.fit_transform(X['employee_residence']) 
employee_residence_encoded_test = employee_residence_encoder.transform(X_test['employee_residence'])

In [ ]:
employee_residence_encoded.shape

In [ ]:
company_location_encoder= ce.BinaryEncoder(cols=['company_location'],return_df=True)
company_location_encoded = company_location_encoder.fit_transform(X['company_location']) 
company_location_encoded_test = company_location_encoder.transform(X_test['company_location'])

In [ ]:
company_location_encoded.shape

In [33]:
print(work_year_encoded.shape)
print(X['experience_level_encoded'].shape)
print(employment_type_encoded.shape)
print(job_title_encoded.shape)
print(employee_residence_encoded.shape)
print(X['remote_ratio'].shape)
#print(company_location_encoded.shape)
print(X['company_size_encoded'].shape)

(28993, 3)
(28993,)
(28993, 4)
(28993, 6)
(28993, 6)
(28993,)
(28993,)

In [34]:
print(work_year_encoded_test.shape)
print(X_test['experience_level_encoded'].shape)
print(employment_type_encoded_test.shape)
print(job_title_encoded_test.shape)
print(employee_residence_encoded_test.shape)
print(X_test['remote_ratio'].shape)
#print(company_location_encoded_test.shape)
print(X_test['company_size_encoded'].shape)

(607, 3)
(607,)
(607, 4)
(607, 6)
(607, 6)
(607,)
(607,)

In [35]:
new_transformed_df = pd.concat([work_year_encoded, X['experience_level_encoded'], employment_type_encoded, job_title_encoded, X['remote_ratio_encoded'], employee_residence_encoded, X['company_size_encoded']], axis=1)

In [36]:
new_transformed_df_test = pd.concat([work_year_encoded_test, X_test['experience_level_encoded'], employment_type_encoded_test, job_title_encoded_test, X_test['remote_ratio_encoded'], employee_residence_encoded_test, X_test['company_size_encoded']], axis=1)

In [37]:
new_transformed_df.shape

(28993, 22)

In [38]:
new_transformed_df_test.shape

(607, 22)

In [48]:
from sklearn.ensemble import RandomForestRegressor

rf_regr = RandomForestRegressor(n_estimators=1000, n_jobs=-1, random_state=24)

In [39]:
from sklearn.linear_model import LinearRegression

lnr_regr = LinearRegression()

In [ ]:
from xgboost import XGBRegressor

In [ ]:
new_transformed_df.shape

In [49]:
rf_model = rf_regr.fit(new_transformed_df, y)

In [40]:
lnr_model = lnr_regr.fit(new_transformed_df, y)

In [50]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test, rf_model.predict(new_transformed_df_test))** (1/2)

80374.70856714177

In [41]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test, lnr_model.predict(new_transformed_df_test))** (1/2)

77140.69054605727

In [42]:
y_test_rem = y_test.iloc[to_keep]
new_transformed_df_test_rem = new_transformed_df_test.iloc[to_keep]

In [43]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test_rem, lnr_model.predict(new_transformed_df_test_rem))** (1/2)

63331.495093579106

In [44]:
diff = abs(y_test - lnr_model.predict(new_transformed_df_test))

In [45]:
diff.sort_values(ascending=False, inplace=True)

In [46]:
diff.to_clipboard()

In [54]:
df['salary_in_usd'].mean()

112297.86985172982

In [ ]:
indices = [i for i in range(607)]

In [ ]:
len(indices)

In [ ]:
keep = [ind for ind in indices if ind not in list(diff.index)[:22]]

In [ ]:
len(keep)

In [ ]:
y_test_rem = y_test.iloc[keep]

In [ ]:
new_transformed_df_test_rem = new_transformed_df_test.iloc[keep]

In [ ]:
y_test.shape

In [ ]:
import category_encoders as ce

experience_level_encoder = ce.OneHotEncoder(cols='experience_level', handle_unknown='return_nan', return_df=True, use_cat_names=True)
experience_level_encoded = experience_level_encoder.fit_transform(X['experience_level'])
experience_level_encoded_test = experience_level_encoder.transform(X_test['experience_level'])

remote_ratio_encoder = ce.OneHotEncoder(cols='remote_ratio', handle_unknown='return_nan', return_df=True, use_cat_names=True)
remote_ratio_encoded = remote_ratio_encoder.fit_transform(X['remote_ratio'])
remote_ratio_encoded_test = remote_ratio_encoder.transform(X_test['remote_ratio'])

company_size_encoder = ce.OneHotEncoder(cols='company_size', handle_unknown='return_nan', return_df=True, use_cat_names=True)
company_size_encoded = company_size_encoder.fit_transform(X['company_size'])
company_size_encoded_test = company_size_encoder.transform(X_test['company_size'])

work_year_encoder = ce.OneHotEncoder(cols='work_year', handle_unknown='return_nan', return_df=True, use_cat_names=True)
work_year_encoded = work_year_encoder.fit_transform(X['work_year'])
work_year_encoded_test = work_year_encoder.transform(X_test['work_year'])

employment_type_encoder = ce.OneHotEncoder(cols='employment_type', handle_unknown='return_nan', return_df=True, use_cat_names=True)
employment_type_encoded = employment_type_encoder.fit_transform(X['employment_type'])
employment_type_encoded_test = employment_type_encoder.transform(X_test['employment_type'])

job_title_encoder = ce.OneHotEncoder(cols='job_title', handle_unknown='return_nan', return_df=True, use_cat_names=True)
job_title_encoded = job_title_encoder.fit_transform(X['job_title'])
job_title_encoded_test = job_title_encoder.transform(X_test['job_title'])

employee_residence_encoder = ce.OneHotEncoder(cols='employee_residence', handle_unknown='return_nan', return_df=True, use_cat_names=True)
employee_residence_encoded = employee_residence_encoder.fit_transform(X['employee_residence'])
employee_residence_encoded_test = employee_residence_encoder.transform(X_test['employee_residence'])

# company_location_encoder = ce.OneHotEncoder(cols='company_location', handle_unknown='return_nan', return_df=True, use_cat_names=True)
# company_location_encoded = company_location_encoder.fit_transform(X['company_location'])
# company_location_encoded_test = company_location_encoder.transform(X_test['company_location'])

new_transformed_df = pd.concat([experience_level_encoded, remote_ratio_encoded, company_size_encoded, work_year_encoded, employment_type_encoded,job_title_encoded,employee_residence_encoded],axis=1 )
new_transformed_df_test = pd.concat([experience_level_encoded_test, remote_ratio_encoded_test, company_size_encoded_test, work_year_encoded_test, employment_type_encoded_test,job_title_encoded_test,employee_residence_encoded_test],axis=1 )
print(new_transformed_df.shape)
print(new_transformed_df_test.shape)

In [ ]:
rf_model = rf_regr.fit(new_transformed_df, y)

In [ ]:
lnr_model = lnr_regr.fit(new_transformed_df, y)

In [ ]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test, rf_model.predict(new_transformed_df_test))** (1/2)

In [ ]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test, lnr_model.predict(new_transformed_df_test))** (1/2)

In [ ]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test_rem, lnr_model.predict(new_transformed_df_test_rem))** (1/2)

In [ ]:
X_test.iloc[list(diff.index)[:30]].to_clipboard()

In [ ]:
y_test.iloc[list(diff.index)[:30]].to_clipboard()

In [ ]:
X_test.iloc[list(diff.index)[:30]]['company_size'].value_counts()

In [ ]:
X_test.iloc[list(diff.index)[:30]]['remote_ratio'].value_counts()

In [ ]:
X_test.iloc[list(diff.index)[:30]]['experience_level'].value_counts()

In [ ]:
print(lnr_model.coef_)

In [ ]:
print(lnr_model.intercept_)

In [ ]:
rf_regr_new = RandomForestRegressor(n_estimators=500, n_jobs=-1)

In [ ]:
rf_model_new = rf_regr_new.fit(new_transformed_df, y)

In [ ]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test, rf_model_new.predict(new_transformed_df_test))** (1/2)